.contact-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background: #FFFFFF;
    border-radius: 20px;
}

.form-container h1{
    font-weight: bold;
    font-size: 32px;
    color: #282828;
    margin: 20px;
}

.dark-form-container{
background-color: lightgray;
color: #bb86fc;
}

.dark-contact-container{
background-color: #282828;
}

input{
    margin: 20px;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
   background-color: #B4B4B4 ;
    border: none;
}
input::placeholder{
    color: white;
}
 .form-container input[type="text"]:nth-of-type(1),
.form-container input[type="text"]:nth-of-type(2) {
    width: 300px;
    height: 50px;
}


.form-container input[type="text"]:nth-of-type(3) {
    width: 300px;
    padding-bottom: 100px;
}

.contact-container button{
    width: 156px;
    height: 41px;
    background: #5264C3;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* tablet */

@media screen and (max-width: 700px){
.form-container{
   width: 350px;
   height: 550px;
}
 .form-container input[type="text"]:nth-of-type(1),
.form-container input[type="text"]:nth-of-type(2) {
    width: 250px;
    height: 50px;
}


.form-container input[type="text"]:nth-of-type(3) {
    width: 250px;
    padding-bottom: 100px;
}
}

@media screen and (max-width: 400px){
    .form-container{
   width: 340px;
   height: 550px;
}

 .form-container input[type="text"]:nth-of-type(1),
.form-container input[type="text"]:nth-of-type(2) {
    width: 250px;
    height: 50px;
}


.form-container input[type="text"]:nth-of-type(3) {
    width: 250px;
    padding-bottom: 100px;
}
}

