.details-main-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.details-container{
    width: 863px;
    height: 783px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.details-container .details-img img{
    width: 300px;
    object-fit: contain;
}

.details-container .details-info{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 450px;
    justify-content: space-around;
}

.details-container .details-info h3{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #282828;
padding: 5px 0;
}
.details-container .details-info p{
    padding: 8px 0px;
}

.details-container .details-info p:nth-child(2){
font-weight: 600;
font-size: 24px;
color: #282828;
}

.details-container .details-info p:nth-child(3){
font-weight: 600;
font-size: 20px;
color: #282828;
}

.details-container .details-info p:nth-child(4){
font-weight: 400;
font-size: 16px;
color: #000000;
text-align:justify;
}

.details-container .details-info button{
width: 156px;
height: 41px;
background: #FFD814;
border: none;
cursor: pointer;
font-weight: 700;
font-size: 14px;
text-align: center;
color: #282828;
}