.details-main-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.dark-details-main-container{
  background-color: #282828;
  color: #bb86fc;
}

.dark-details-main-container .dark-details-container{
  background-color: lightgray;
}

.dark-details-main-container .dark-details-container h3, .dark-details-main-container .dark-details-container p{
  color: #bb86fc;
}

.details-container{
    width: 75%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    border-radius: 20px;
}

.details-img img{
    width: 300px;
    object-fit: contain;
}

.details-img{
   mix-blend-mode: multiply;
}
 .details-info{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 450px;
    justify-content: space-around;
}

.details-info h3{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #282828;
padding: 5px 0;
}

 .details-info p{
    padding: 8px 0px;
}

 .details-info p:nth-child(2){
font-weight: 600;
font-size: 24px;
color: #282828;
}

.details-info p:nth-child(3){
font-weight: 600;
font-size: 20px;
color: #282828;
}

 .details-info p:nth-child(4){
font-weight: 400;
font-size: 16px;
color: #000000;
text-align:justify;
}
.details-button {
  width: 156px;
height: 41px;
background: #FFD814;
border: none;
cursor: pointer;
font-weight: 700;
font-size: 14px;
text-align: center;
color: #282828;
transition: transform 0.3s ease;
}

.details-info .red-button{
    background-color: #ff615d ;
    width: 156px;
    height: 41px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #282828;
}

.details-button:hover {
  transform: scale(1.1);
}

@keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* tablet css  */
@media screen and (max-width: 918px){
  .details-container{
    flex-direction: column;
  }
  .details-img img{
    width: 200px;
    object-fit: contain;
}
}

/* Mobile Css */
@media screen and (max-width: 616px){
   .details-container{
    width: auto;
  }

   .details-info{
    width: auto;
    margin: 0 20px;
   }
}
