.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    width: 16%;
    height: 300px;
    background: #FFFFFF;
    border-radius: 8px;
    /* border: 2px solid red; */
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.product-card .product-info p:nth-child(1){
font-weight: 700;
font-size: 12px;
color: #282828;
    padding: 5px 0;
}

.product-card .product-info p:nth-child(2){
font-weight: 400;
font-size: 10px;
color: #949494;
    padding: 5px 0;
}

.product-card .product-info p:nth-child(3){
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #282828;
 padding: 5px 0;
}

.product-card img{
    width: auto;
    height: 120px;
    object-fit: cover;
}

.product-card .img-box{
align-items: center;
display: flex;
justify-content: center;
box-sizing: border-box;
width: 80%;
height: 70%;
background: #FFFFFF;
border: 1px solid #EFEFEF;
border-radius: 8px;
position: relative;
}

.product-card .img-box .icon-box .heart-icon{
    background-color: #E7E7E7;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    padding: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-card .img-box .heart-icon{
    color: white;
    
}
