.checkout-container{
    display: flex;
    min-height: 100vh;
    background-color: #FAFAFA;
    width: auto;
    justify-content: center;
}

.checkout-items{
    width: 75%;
    background-color: white;
    margin: 50px 0;
}

.item-details{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 2px solid #D9D9D999;
    background-color: white;
}

.item-details p{
font-weight: 700;
font-size: 20px;
display: flex;
align-items: center;
color: #979797;
}

.item-sub-details{
    display: flex;
    width: 48%;
    justify-content:space-evenly;
}

.item-sub-details p{
    padding: 0 30px;
}

.total-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: self-end;
    margin-left: 68%;
    margin-bottom: 5%;
}

.total-container p{
font-weight: 600;
font-size: 24px;
color: #282828;
padding: 30px 30px 40px 30px;
}

.total-container button{
width: 156px;
height: 41px;
background: #FFD814;
cursor: pointer;
font-weight: 700;
font-size: 14px;
color: #282828;
border: none;
}