.footer-container{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--Blue-Page-Color);
    color: #FCFCFC;
    width: auto;
    height: 100px;
    padding: 0 40px;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.dark-footer-container, .dark-footer-container a{
     background-color: #282828;
    color: #bb86fc;
}

.dark-footer-container{
    border-top: 3px solid grey;
}

.social-icons{
    font-size: 3em;
}