.footer-container{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--Blue-Page-Color);
    color: #FCFCFC;
    width: auto;
    height: 66px;
    padding: 0 40px;
}