.homepage-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}
.category-container{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: var(--Blue-Page-Color);
    width: 60%;
    margin: 20px 0 0 90px;
}

.category-container p{
    cursor: pointer;
}

.product-container{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 30px 100px 30px 100px;
   }

/* tablet css */

@media screen and (max-width: 918px) {
.category-container{
    width: 100%;
    margin: 0;
}
 .product-container{
    padding: 0;
    align-content: center;
    align-items: center;
    justify-content: center;
 }
}

/* mobile css */

@media screen and (max-width: 616px){
.category-container{
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
}

.category-container p{
    padding: 8px;
}

 .product-container{
    width: 100%;
 }
}