.homepage-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.category-container{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: var(--Blue-Page-Color);
    width: 50%;
    margin-left: 60px;
}

.product-container{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}